body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/8c/Rocade_Loir%C3%A9.jpg)
}
p.sansserif {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color:black;
  background-color: lightblue
}
p.sansserif2 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  color:green
}
p {
  color: white
}
h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: green
}
h2 {
  text-align: center;
  text-decoration: underline;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: green
}

a:link{
  background-color: red;
  color: white;
  padding: 13px 20px;
  text-align: center;
  text-decoration: inherit;
  display: inline-block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a:hover {
  background-color: green;
  "cursor:pointer"
}
a:visited {
  color: white;
}
a:active {
  background-color: black
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 0px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}
li a:active {
  background-color: black
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
